.container {
  width: 700px;
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  background-color: aqua;
}
.header-item {
  background-color: seagreen;
  margin: 0 50px;
}
.header-link {
  padding: 32px 0;
  display: block;
  color: black;
}
.header-contacts-item {
  padding: 25px 10px;
}
.header-contacts-link {
  color: black;
  list-style: none;
}
