.header-list {
    display: flex;
    width: 700px;
    background-color: aqua;
}
.header-item {
    background-color: seagreen;
    margin: 0 50px;
}
.header-link {
    padding: 32px 0;
    display: block;
    color: black;
}